body {
  background-color: #5F9EA0;
  
}


h1 {
  text-align: center;
  color: #FF7F50;
}

label {
  display: block;
  color: #FF7F50;
  text-align: center;
}

.infotext {
  font-size: 2em;
}

input {
  display: block;
  width: 90%;
  background-color: white;
  padding: 10px;
  text-align: center;
}
input[type="text"] {
  font-size: 1em;
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;
}

input[type="radio"] {
  margin: 0 auto;
}

.moneyradio {
  font-size: 2em;
  display: block;
  
  
}

form {
  background-color: gray;
  padding: 10px;
  border-radius: 10px;
  
}