body {
  background-color: #5F9EA0;
  
}


h1 {
  text-align: center;
  color: #FF7F50;
}

label {
  display: block;
  font-size: 2em;
  color: #FF7F50;
  text-align: center;
}


input {
  display: block;
  padding: 10px 10px;
  width: 100%;
  background-color: white;
  
}
input[type="text"] {
  font-size: 1em;
}

.moneyradio {
  font-size: 2em;
  display: block;
  
  padding: 20px 20px;
  border-style: solid;
}

form {
  background-color: gray;
  padding: 10px;
  border-radius: 10px;
  
}